<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.dao.UserMapper">
    <select id="findUser" resultType="user">
        SELECT * FROM sys_employee JOIN sys_position ON sys_employee.POSITION_ID=sys_position.ID
        WHERE sn=#{sn} AND PASSWORD=#{password}
    </select>
</mapper>